<nav>
  <ul>
    <li *ngFor="let item of navItems">
      <a [routerLink]="['/', item.link]"> {{item.title}} </a>
    </li>
  </ul>

  <div>
    <button type="submit" (click)="Logout()">Logout</button>
  </div>
</nav>
