<div class="container" id="manager-dashboard-container">
  <h2>Reimbursements</h2>
  <table id="manager-reimbursements" class="table">
    <tr>
      <th scope="col">Submitted</th>
      <th scope="col">Amount</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </table>
</div>
