<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="submitRequest(f)" #f="ngForm">
        <div id="reimbursement-data">
          <div class="form-group">
            <label for="reimbursement-amount">Amount</label>
            <input type="number" id="reimbursement-amount" class="form-control" ngModel name="reimbursement-amount"
                   required>
          </div>
          <div class="form-group">
            <label for="reimbursement-description">Description</label>
            <input type="text" id="reimbursement-description" class="form-control" ngModel
                   name="reimbursement-description" required>
          </div>
          <div class="form-group">
            <label for="reimbursement-type">Type</label>
            <select id="reimbursement-type" class="form-control" [ngModel]="defaultTypeOption" name="reimbursement-type">
              <option value="1">Lodging</option>
              <option value="2">Travel</option>
              <option value="3">Food</option>
              <option value="4">Other</option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
