<h1>Reimbursement Details</h1>

<ol>
  <li *ngFor="let reimbursement of reimbursements">
    <div>
      {{reimbursement.authorId}}
    </div>
    <div>
      {{reimbursement.description}}
    </div>
    <div>
      {{reimbursement.amount}}
    </div>
    <div>
      {{reimbursement.dateSubmitted}}
    </div>
    <div>
      {{reimbursement.dateResolved}}
    </div>
    <div>
      {{reimbursement.typeId}}
    </div>
    <div>
      {{reimbursement.statusId}}
    </div>
    <div>
      {{reimbursement.resolverId}}
    </div>

  </li>
</ol>
